# ignore vim swap files
*.swp
docs/build/
docs/site/
.idea/
notebooks/Ocean\ Stoptime/.ipynb_checkpoints/
notebooks/Ocean\ Wind/.ipynb_checkpoints/
notebooks/Rotating\ Double\ Gyre/.ipynb_checkpoints/
notebooks/Rotating\ Double\ Gyre/.ipynb_checkpoints/Plots/
notebooks/Standard/.ipynb_checkpoints/